.floating-btn {
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
  z-index: 99999;
  --color: #a5a5b0;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.floating-btn:focus {
  outline: none;
}

.moon {
  position: absolute;
  animation: keyframes-fill 0.5s;
}

.sun {
  position: absolute;
  display: none;
  animation: keyframes-fill 0.5s;
}

input:checked~.moon {
  display: none;
}

input:checked~.sun {
  display: block;
}

#themeButton{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

@keyframes keyframes-fill {
  0% {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }

  75% {
    transform: rotate(25deg);
  }
}
