.Textbox{
  display: grid;
  padding: 17vh 1rem;
  overflow: hidden;
  padding: 9vh 1rem;
  padding-top: 9vh;
  padding-right: 1rem;
  padding-bottom: 9vh;
  padding-left: 1rem;
  color: #ffffff;
  background-color: #313131;
  border-radius: 50px;
  margin: 30px;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.Textbox.active{
  opacity: 1;
}

li {
  float: left;
  margin-right: 10px;
}

.TextboxTitle{
  justify-content: center;
  display: flex;
  margin-bottom: 40px;
}

.TextboxContent div{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  height: auto;
}
