.Textbox {
  display: grid;
  padding: 8vh 1rem;
  overflow: hidden;
  color: #000;
  border-radius: 50px;
  opacity: 1;
  transition: opacity 1s ease-in;
  margin: 30px;
  background: #f6f8fc;
  border: 1px solid #0080c1;
}

li {
  float: left;
}

.TextboxTitle {
  display: flex;
  margin-bottom: 40px;
}

.TextboxContent {
  display: flex;
  list-style-type: none;
  max-width: 100vw;
  height: auto;
  justify-content: center;
}

.colorRed {
  background-image: linear-gradient(to right, #ff8a00, #e52e71);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 28px !important;
  margin: 0;
}

.colorBlue {
  background-image: linear-gradient(to left,
      #45465d,
      #233864,
      #1a5585,
      #097ab3,
      #1ea8d9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.title{
  font-size: 2.5em !important;
}
