.Textbox{
  display: grid;
  padding: 17vh 1rem;
  overflow: hidden;
  color: #000;
  border-radius: 50px;
  opacity: 1;
  transition: opacity 1s ease-in;
  margin: 30px;
  background: #f6f8fc;
}

.Textbox.active{
  opacity: 1;
}

li {
  float: left;
  margin-right: 10px;
}

.TextboxTitle{
  justify-content: center;
  display: flex;
  margin-bottom: 40px;
  max-width: 1300px;
}

.TextboxContent{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  height: auto;
}

@media (prefers-color-scheme: light) {
 .Textbox{
    background-color: #313131;
  }
}

