.gridAbout {
  display: grid;
  justify-content: center;
  gap: 10px;
}

.gridAbout div {
  border-radius: 50px;
  border: 1px solid #0080c1;
  padding: 20px;
}

.grid1 p {
  font-size: 21px !important;
  text-align: center;
}

.grid2 p {
  font-size: 21px !important;
  text-align: center;
  margin: 0;
}

.grid3 p {
  font-size: 21px !important;
  text-align: center;
  margin: 0;
}

.grid3 ul li {
  font-size: 18px !important;
  text-align: center;
}

.grid3 ul {
  list-style-type: none;
  padding: 0;
}
