.gridAbout {
  display: grid;
  justify-content: center;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  grid-template-areas: "grid1 grid2" "grid3 grid3";
  gap: 10px;
}

.gridAbout p {
  padding-bottom: 2vh;
  font-size: 1.7vw;
  text-align: center;
}

.gridAbout li {
  font-size: 1.7vw;
  text-align: center;
}

.gridAbout div {
  border-radius: 50px;
  padding: 20px;
}

.grid1 {
  grid-area: grid1;
  border: 1px solid #0080c1;
}

.grid2 {
  grid-area: grid2;
  border: 1px solid #0080c1;
}

.grid3 {
  grid-area: grid3;
  display: grid;
  justify-items: center;
  padding: 0 !important;
}

.gridWorth {
  width: 50%;
  border: 1px solid #0080c1;
}

.gridWorth div {
  display: grid;
  padding: 0 !important;
  justify-items: center;
}

.gridWorth div ul {
  display: grid;
  justify-items: center;
}

ul {
  list-style-type: none;
}

@media only screen and (max-width: 1199px) {

  li,
  p {
    font-size: 3vw !important;
    padding: 10px 0;
  }

}

@media only screen and (max-width: 619px) {

  .gridAbout {

    grid-template-rows: 33.33% 33.33% 33.33%;
    grid-template-columns: 100%;
    grid-template-areas: "grid1" "grid2" "grid3";
    gap: 10px;
    height: 80%;
  }

  .gridWorth {
    width: 100%;
  }
}
