:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  /* color-scheme: light; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer {
  * {
    scrollbar-color: #006fb4 #c05b32;
  }
}

header{
  max-height: 3em;
}

body{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-size: clamp(16px, 1.2rem, 24px); 
  background: #e2e6eb;
}


footer {
  padding: 10px;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.Biglogo {
  width: 100%;
  max-width: 100%;
}
.Biglogo img{
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}




